@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@400;700&display=swap');

:root{

    /* colori */
    --bianco: #fff;
    --color2: #353841;
    --color3:#ed6864;
    --grigioSezioni: #bababc;
    --grigio: #78787b;
    --arancione:#fcd66c;
    --color7: #92340f;

    --color-8: #ebcac5;
    --grigioScuro: #3e3f47;
    --coloreCopiright: #8d7c6d;
    --grigioChiaro: #a1aba9;
    --azzurro: #8c9aa5;
    --giallo: #F6F5AE;
    --giallo-dark: #d6a009;

    --rosso: #f7190f;
    --color-14: #a2abae;
    --color-15: #3d2512;
    --color-16: #171216;
    --color-17: #e9c899;

    /* font-size */
    --font-size-biggest: 56px;
    --font-size-big: 30px;
    --font-size-medium: 20px;
    --font-size-small: 12px;

    --verde: #85CB33;
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--bianco);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
}

.titleDiv{
    font-size: var(--font-size-big);
    position: relative;
}

.titleDiv::after{
    content: '';
    background-color: var(--arancione);
    height: 5px;
    width: 140px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titleDiv-center::after{
    content: '';
    background-color: var(--arancione);
    height: 5px;
    width: 140px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.nav{
    position: absolute;
    width: 100%;
}

.sezioneTesto{
    text-align: center;
}

.sezioneTesto .titleText{
    font-size: var(--font-size-biggest);
    letter-spacing: .2rem;
}

.sezioneTesto .descritionTitle{
    margin: 18px;
}

.sezioneTesto .buttonContainer{
    display: block;
}

.test{
    background-color: purple;
}

.sezione2 .left{
    width: calc( ( 100vw / 12 ) * 9);
}

.sezione2 .right{
    width: calc( ( 100vw / 12 ) * 3);
    background-color: var(--rosso);

}

.text-big{
    font-size: var(--font-size-bigger);
}
 

.text-bigger{
    font-size: var(--font-size-biggest);
}

.text-big{
    font-size: var(--font-size-big);
}

.text-medium{
    font-size: var(--font-size-medium);
}

.text-small{
    font-size: var(--font-size-small);
}

.social{
    background-color: #3d2512;
    border-radius: 100%;
    padding: 10px;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 35px;
}