<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/utility.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>

    <div id="app">

        <!-- menu -->
        <div class="nav py-12">
            <div class="container flex-between-center">
                
                <div class="left">
                    <div class="contain-img-logo">
                        <img class="logo" src="images/avada-charity-logo.png" alt="logo">
                    </div>
                </div>
                
                <div class="right uppercase text-bold dflex">
                    <div v-for="(elementoNav, index) in nav">
                        <span :class="(index == 0 ? 'btn btn-nav select' : 'btn btn-nav')">{{elementoNav}}</span>
                    </div>
                    <span class="btn btn-orange-full">Donate</span>
                </div>

            </div>
        </div>

        <!-- sezione 1 -->
        <section>
            <div class="sezione1 bg-image-1">
                <div class="container heightScreen dflex-center-center">
                    <div class="sezioneTesto">
                        <p class="titleText uppercase text-bold">Make a difference</p>
                        <p class="descritionTitle text-big py-30">As long as poverty, injudtice & inequality persist, none of use can truly rest</p>
                        <div class="buttonContainer text-medium">
                            <span class="text-bold btn btn-transparent uppercase mx-7">our mission</span>
                            <span class="text-bold btn btn-orange uppercase mx-7">donate now</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- sezione 2 -->
        <section class="sezione2 dflex">
            
            <div class="left p-100 bg-yellow">
                <p class="titleDiv uppercase text-black">every moment counts</p>
                
                <div class="pb-20">
                    <p class="py-10 height-line-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae similique quae mollitia velit beatae quis reiciendis voluptatem nobis excepturi saepe temporibus harum expedita.</p>
                    <p class="py-10 height-line-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, laboriosam quae! Libero dolore fugiat culpa reiciendis laudantium perferendis voluptate nihil animi ut autem. Quo mollitia neque ipsum corporis maxime unde.</p>
                    <p class="py-10 height-line-25">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nulla porro voluptatum.</p>
                </div>
                <span class="btn btn-orange-full uppercase">Premi per più info</span>
            </div>
            
            <div class="right p-50 bg-image-2 flex-column">
                <div class="content text-center" v-for="sezioneElemento in sezione2">
                    <div class="py-40">
                        <p class="number text-big"><span v-html="sezioneElemento.icon"></span> {{sezioneElemento.numero}}</p>
                        <p class="descrizione text-medium height-line-35"> {{sezioneElemento.testo}}</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- sezione 3 -->
        <section class="bg-image bg-image-3">
            <div class="container text-center">
                <div class="header-section py-100">
                    <p class="text-big titleDiv-center uppercase">our values</p>
                    <p class="text-medium capitalize">think big. act bigger</p>
                </div>

                <div class="container">
                    <div class="slider flex-between capitalize">
                        
                        <div class="element pb-100 widthCard4" v-for="elemento in sezione3">
                            
                            <div class="element-header">
                                <p class="text-bigger text-orange" v-html="elemento.imgSrc"></p>
                                <p class="text-medium text-white">{{elemento.title}}</p>
                            </div>
                            
                            <div class="element-body py-20">
                                <p class="text-small text-gray-light height-line-25">{{elemento.testo}}</p>
                            </div>
                            
                            <div class="element footer">
                                <span class="btn btn-orange-full uppercase">learn more</span>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        
        <!-- sezione 4 -->
        <section class="bg-yellow">
            <div class="container text-center">
                
                <div class="header-section py-100">
                    <p class="text-big titleDiv-center text-black uppercase">recent causes</p>
                    <p class="text-medium">We run project in over 30 countries in 5 continents</p>
                </div>

                <div class="container text-black">
                    <div class="slider flex-between pb-100">

                        <div class="element widthCard4" v-for="elemento in sezione4">
                            
                            <div class="contain-img randomImage">
                                <img :src="elemento.imgSrc" :alt="elemento.imgALt">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- sezione 5 -->
        <section class=" bg-red text-center">
            <div class="container">
                <p class="py-30 text-medium">View all our causes</p>
            </div>
        </section>

        <!-- sezione 6 -->
        <section class="bg-yellow text-center pb-100">
            
            <div class="container">
                
                <div class="header-section py-100">
                    <p class="text-big titleDiv-center uppercase">Latest articles</p>
                    <p class="text-medium">Tonether we make all the difference </p>
                </div>

                <div class="dflex">

                    <div class="left-particolare w-6 px-20 max-h-450">
                        
                        <div class="card last b-1 h-100">

                            <div class=" pb-20">
                                <div class=" header-card-news pos-relative">
                                    
                                    <div>
                                        <img class="zoomHover" :src="sezione6.left.imgSrc" :alt="sezione6.left.title">
                                    </div>

                                </div>

                            </div>

                            <div class="card-main px-20">
                                <p class="title text-orange-dark text-bold text-medium pb-20">{{sezione6.left.title}}</p>
                                <p class="max-h-29 descrition text-gray text-small pb-20">{{sezione6.left.text}}</p>
                            </div>
                        </div>
                    </div>
                        
                    <div class="rigth w-6 px-20 flex-column-center">

                        <div class="card ingrandisciHover py-10" v-for="cardContenuti in sezione6.right">
                            <div class="dflex b-1">
                                <img class="h-card-sezione6" :src="cardContenuti.imgSrc" alt="cardContenuti.title">
                                <div class="text-left mr-20 flex-column-center-personalizzata">
                                    <p class="title text-orange-dark text-bold text-medium pb-10">{{cardContenuti.title}}</p>
                                    <p class="descrition text-gray text-small ridutore">{{cardContenuti.text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>  

                </div>

                <div class="px-20 pt-40">
                    <span class="w-100 btn btn-red-full uppercase">view all our article</span>
                </div>

            </div>
        </section>

        <!-- sezione 7 -->
        <section class="bg-image-4">
            <div class="container text-center">

                <div class="header-section py-100">
                    
                    <p class="titleDiv-center uppercase text-bold text-big">change a life today</p>
                    <p class="descritionTitle text-medium py-60 height-line-35">As long as poverty, injudtice & inequality persist, none of use can truly rest. it doesn't take much to change of life. Get in touch today and start making the dofference.</p>
                    

                    <div class="buttonContainer text-small">
                        <span class="text-bold btn btn-transparent uppercase mx-7">volunteer</span>
                            <span class="text-bold btn btn-transparent uppercase mx-7">donate now</span>
                    </div>

                </div>

            </div>
        </section>

        <!-- sezione 8 -->
        <section class="bg-yellow text-center py-60">
            
            <div class="container text-center bg-yellow">
                <img class="w-30" src="images\avada-charity-mobile-logo-retina.png" alt="logo">
            </div>

        </section>

        <!-- footer -->
        <section class="bg-gray text-center py-30">
            <p class="pb-30 text-white">
                <span class="px-7 border-right" v-for="testo in copyright">{{testo}}</span>
            </p>
            <div class="contatti text-white text-medium dflex-center">
                <div class="social mx-10" v-for="social in socials">
                    <p v-html="social"></p>
                </div>
            </div>
        </section>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="index.js"></script>

</body>
</html>